Source: cubicweb-container
Section: web
Priority: optional
Maintainer: Aurélien Campéas <aurelien.campeas@logilab.fr>
Build-Depends: debhelper (>= 5.0.37.1), python (>=2.6), python-support
Standards-Version: 3.8.0
XS-Python-Version: >= 2.6

Package: cubicweb-container
Architecture: all
Depends: cubicweb-common (>= 3.17.17), ${python:Depends}
Description: provides "generic container" services
 CubicWeb is a semantic web application framework.
 .
 provides "generic container" services
 .
 This package will install all the components you need to run the
 cubicweb-container application (cube :)..
